<div class = 'container-fluid noCommunities'>
    <div class = 'container-fluid noCommunities'>
        '<h2>No estas registrado en ninguna comunidad.</h2>
    </div>
    <div class = 'container noCommunities'>
        <h3><a href='/createCommunity'>Registra una comunidad nueva</a></h3>
    </div>
    <div class = 'container noCommunities'>
        <h3> Unete a una comunidad existente:</h3>
        <form method = "post" action = '/joincommunity'>
            <select class="form-select" aria-label="Default select example">
                <option selected>Selecciona una comunidad existente</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </form>
        
    </div>
</div>
