<footer class = 'bottomFooter footer  py-3 d-flex   border-top'>
        <ul class ='' >
            <li class = 'ms-3'>
                Mas informacion sobre la organizacion visita <a href = 'www.capitalism2-0.org'>capitalism 2.0</a>
            </li>
            <li class = 'ms-3'>
                Ponte en <a href="mailto: joe@capitalism2-0.org">contacto</a>
            </li>
            <li class = 'ms-3'>
                Todos los derechos reservados
            </li>
        </ul>
</footer>
</body>
</html>