<%- include('./partials/head.ejs') %>
<%- include('./partials/navigation.ejs') %>

<div class = "container mainImageDiv">
    <img id = "mainImage" src = '/DDLogo.jpeg'>
    <h1 class = 'h1 mainTitle'>Democracia Directa</h1>
    <h7 class = 'h7'>Version Alfa 1.0</h7>
    <h5 class = 'h5'>HERRAMIENTA GRATUITA PARA QUE TU COMUNIDAD PUEDA OPERAR COMO UNA DEMOCRACIA DIRECTA DE MANERA TRANSPARENTE</h3>
</div>
<div class = 'container mainImageDiv'>
   <img class = "img-fluid secondMainImage" src = '/digitalDemocracy.png'> 
</div>
<div class = "container explanation">
    <h1 class = "h1 mainTitle">¿Qué es la Democracia Directa?</h1>
    <p>La Democracia Directa es una forma de gobierno en la que los ciudadanos tienen control directo sobre sus comunidades sin la necesidad de representantes. </p>
    <p>Es decir, el poder absoluto se encuentra sobre la decisión colectiva de la sociedad. Lo que la mayoría elige es lo que se hace. </p>
    <p>Esto es un contraste con nuestra actual forma de gobierno donde los representantes tienen el poder. Esto lleva a muchos problemas como la corrupción porque no tenemos acceso transparente al uso de recursos ni un decir en cómo se manejan. </p>
    <p>Una democracia directa puede tener representantes cuando es conveniente. Sin embargo, es diferente porque los representantes pueden ser quitados de su puesto en cualquier momento por la mayoría, sus decisiones pueden ser vetadas por la mayoría y todos los beneficios son elegidos por la mayoría. </p>
    <p>Ahorita, los miembros del gobierno Mexicano son de los funcionarios públicos más pagados del mundo. Ellos mismos escogen sus salarios. En una democracia directa, nosotros votamos por cuanto sean sus salarios, entre muchas otras cosas, y eso es en caso de que decidamos tener representantes pues existen muchas otras formas de gobierno colectivas posibles que pueden ser más efectivas. </p>
    <p>El objetivo de esta organización es crear una plataforma segura que permita que las comunidades puedan colaborar como una democracia directa. Nuestro objetivo a largo plazo es que nuestras ciudades, estados y país puedan regirse de esta forma a través de esta tecnología. </p>
    <p>Sin embargo, vamos empezando y nuestra filosofía es desarrollar de abajo hacia arriba. Primero hacer el sistema funcional en comunidades pequeñas como las privadas y una vez después de probarlo, seguirlo desarrollando para cada vez grupos más grandes. </p>
    <p>Estamos en la versión Alfa 1. Por el momento estamos trabajando con compañías privadas directamente para asegurar que esta versión temprana del sistema funcione bien. La versión Beta la haremos accesible al público. Sin embargo, si a tu comunidad le gustaría participar ahora y pueden tener contacto seguido con nosotros por su uso, envíanos un mensaje. </p>
</div>
<%- include('./partials/footer.ejs') %>