
<%- include('./partials/head.ejs') %>
<%- include('./partials/navigation.ejs') %>

<h1 class = 'errorTitle'>500 Error</h1>
<h2 style="text-align: center;">Error interno al servidor</h2>

<%- include('./partials/footer.ejs') %>