<%- include('./partials/head.ejs') %>
<%- include('./partials/navigation.ejs') %>
<h1 class = 'pageTitle'>Crear nueva propuesta</h1>

<div class = 'container'>
    <form method = 'post' action = '/mycommunity/createproposal'>
        <div class = 'mb-3'>
            <label class = 'form-label' for = 'community'>Elige la comunidad para la que haces la propuesta</label>
            <select name = 'community' class = 'form-select' id = 'communities' required="true">
                <option disabled selected>Elige para que comunidad es la propuesta</option>
                <% for(let i = 0; i < locals.communities.length; i++){ %>
                    <%- `<option value = "${locals.communities[i].id}">${locals.communities[i].name}</option>` %>
               <% } %>
            </select>
        </div>
        
        <div class = 'mb-3'>
            <label class = 'form-label' for = 'proposalType'>Elige el tipo de propuesta</label>
            <select name = 'proposalType' class = 'form-select' id = 'proposalType' required="true">
                <option disabled selected>Elige tipo de propuesta</option>
                <option value ="createLaw">Crear una nueva ley</option>
                <option value ="deleteLaw">Eliminar una ley existente</option>
                <option value ="editLaw">Hacerle cambios a una ley existente</option>
                <option value ="createRole">Crear un puesto/rol</option>
                <option value ="deleteRole">Eliminar un puesto/rol</option>
                <option value ="editRole">Cambiar detalles de un puesto/rol</option>
                <option value ="assignRole">Asignar un puesto/rol a un ciudadano</option>
                <option value ="removeRole">Remover a un ciudadano de su puesto</option>
                <option value ="swapRole">Intercambiar ciudadano para un puesto/rol</option>
                <option value ="createProject">Proponer un nuevo proyecto</option>
                <option value ="createBadge">Crear una nueva medalla</option>
                <option value ="assignBadge">Asignar una medalla</option>
                <option value ="permit">Pedir un permiso a la comunidad</option>
            </select>
        </div>

        <div class = 'mb-3 d-none' id ="titleDiv">
            <label class = 'form-label ' for = 'title'>Titulo de la propuesta</label>
            <input class="form-control" id = 'title' name = 'title' type = 'text' required="true" placeholder="Describe la propuesta en un titulo">
        </div> 

        <div class = 'mb-3 d-none' id="bodyDiv">
            <label class = 'form-label' for = 'body'>Describe la razon detras de la propuesta. Explicale a tus vecinos los beneficios</label>
            <textarea id = 'body' class = 'form-control' name = 'body' type = 'text' required="true" placeholder="Describe la razon de tu propuesta, tus argumentos y otra informacion que apoye tu propuesta para que tus vecinos entiendan mas el contexto"></textarea>
        </div>

        <div class = 'mb-3 d-none' id="citizenActionTitleDiv">
            <label class = 'form-label' for = 'citizenActionTitle' id="citizenActionTitleLabel"></label>
            <input class="form-control" id = 'citizenActionTitle' name = 'citizenActionTitle' type = 'text'>
        </div>

        <div class = 'mb-3 d-none' id="citizenActionBodyDiv">
            <label class = 'form-label' for = 'citizenActionBody' id="citizenActionBodyLabel"></label>
            <textarea class="form-control" id = 'citizenActionBody' name = 'citizenActionBody' type = 'text'></textarea>
        </div>

        <div class = 'mb-3 d-none' id="citizenActionStartDateDiv">
            <label class = 'form-label' for = 'citizenActionStartDate' id="citizenActionStartDateLabel"></label>
            <input class="form-control" id = 'citizenActionStartDate' name = 'citizenActionStartDate' type = 'date'>
        </div>

        <div class = 'mb-3 d-none' id="citizenActionExpirationDateDiv">
            <label class = 'form-label' for = 'citizenActionExpirationDate' id="citizenActionExpirationDateLabel"></label>
            <input class="form-control" id = 'citizenActionExpirationDate' name = 'citizenActionExpirationDate' type = 'date'>
        </div>
        
        <div class = 'mb-3 d-none' id="citizenActionPayDiv">
            <label class = 'form-label' for = 'citizenActionPay' id="citizenActionPayLabel"></label>
            <input class="form-control" id = 'citizenActionPay' name = 'citizenActionPay' type = 'number' min="0" vale="0">
        </div>

        <div class = 'mb-3 d-none' id="citizenActionVolunteersAmountDiv">
            <label class = 'form-label' for = 'citizenActionVolunteersAmount' id="citizenActionVolunteersAmountLabel"></label>
            <input class="form-control" id = 'citizenActionVolunteersAmount' name = 'citizenActionVolunteersAmount' type = 'number' min="0">
        </div>

        <div class = 'mb-3 d-none' id="citizenActionRewardBadgesDiv">
            <label class = 'form-label' for = 'citizenActionRewardBadges' id="citizenActionRewardBadgesLabel"></label>
            <select name = 'citizenActionRewardBadges' class = 'form-select' id = 'citizenActionRewardBadges'>
                <option disabled selected>Elige medallas</option>
            </select>
        </div>

        <div class = 'mb-3 d-none' id="citizenActionBadgeImageDiv">
            <label class = 'form-label' for = 'citizenActionBadgeImage' id="citizenActionBadgeImageLabel"></label>
            <select name = 'citizenActionBadgeImage' class = 'form-select' id = 'citizenActionBadgeImage'>
                <option disabled selected>Elige imagen para medalla</option>
            </select>
        </div>
        
        <!--<div class = 'mb-3 d-none' id="citizenAction_Div">
            <label class = 'form-label' for = 'citizenAction_' id="citizenAction_Label"></label>
            <input class="form-control" id = 'citizenAction_' name = 'citizenAction_' type = 'text_'>
        </div>-->
        <div class = 'mb-3'>
            <button class = 'btn submitButton' type = 'submit'>Crear</button>
        </div>
    </form>
</div>

<script>
    $('#proposalType').on('change', function() {
        let proposalType = $('#proposalType option:selected').val();
        
        switch(proposalType){
            case 'createLaw':
                $('#titleDiv').removeClass('d-none');
                $('#bodyDiv').removeClass('d-none');

                $('#citizenActionTitleDiv').removeClass('d-none');
                $('#citizenActionTitleLabel').text("Titulo de la ley");
                $('#citizenActionTitle').attr('placeholder','Como aparecera el titulo de la ley como tan en la constitucion de la comunidad.')

                $('#citizenActionBodyDiv').removeClass('d-none');
                $('#citizenActionBodyLabel').text('Texto de la ley');
                $('#citizenActionBody').attr('placeholder', 'Escribe el texto de la ley como estara en la constitucion de la privada.')
                
                $('#citizenActionStartDateDiv').removeClass('d-none');
                $('#citizenActionStartDateLabel').text('Fecha en que la ley tomara efecto (opcional). Sin fecha, la ley toma efecto inmediatamente que la propuesta pase.');

                $('#citizenActionExpirationDateDiv').removeClass('d-none');
                $('#citizenActionExpirationDateLabel').text('Fecha en que expiraria la ley (opcional). Sin fecha de expiracion, la ley permanece permanentemente hasta que se vote para removerla.');
                break;
            case 'deleteLaw':
                break;
            case 'editLaw':
                break;
            case 'createRole':
                break;
            case 'deleteRole':
                break;
            case 'editRole':
                break;
            case 'assignRole':
                break;
            case 'removeRole':
                break;
            case 'swapRole':
                break;
            case 'createProject':
                break;
            case 'createBadge': 
                break;
            case 'assignBadge': 
                break;
            case 'permit':
                break;
            
        }
        
    });

</script>

<%- include('./partials/footer.ejs') %>