<%- include('./partials/head.ejs') %>
<%- include('./partials/navigation.ejs') %>

<h1 class="pageTitle">Registrar una comunidad</h1>
    <h2> <%= (locals.message != undefined) ? message : '' ;%> </h2>
    <div class="div-back">
        <div class = 'div-center'>
            <div class = 'content'>
                <form action = '/mycommunity/create' method = 'post'>
                    <div class = 'mb-3'>
                        <label class = 'form-label' for = 'communityName'>Nombre de la Comunidad</label>
                        <input class = 'form-control' id = 'communityname' name = 'communityName' type = 'text' required>
                    </div>
                    <div class = 'mb-3'>
                        <label class = 'form-label' for = 'communityAddress'>Direccion de la Comunidad</label>
                        <input class = 'form-control' id = 'communityAddress' name = 'communityAddress' type = 'text' required>
                    </div>
                    <div class = 'pb-3'>
                        <label class = 'form-label' for = 'communityStartingNumber'>Numero interno inicial</label>
                        <input class = 'form-control' id = 'communityStartingNumber' name = 'communityStartingNumber' type = 'number' min = '1'>
                        <div class="form-text">Con que numero empiezan las direcciones internas de la comunidad</div>
                    </div>
                    <div class = 'mb-3'>
                        <label class = 'form-label' for = 'communityEndingNumber'>Numero interno final</label>
                        <input class = 'form-control' id = 'communityEndingNumber' name = 'communityEndingNumber' type = 'number' min="1">
                        <div class="form-text">Con que numero terminan las direcciones internas de la comunidad</div>
                    </div>
                    <button class = 'btn' id='loginButton' type = 'submit'>Registrar</button>
                </form>
            </div>
        </div>
    </div>


<%- include('./partials/footer.ejs') %>
