<%- include('./partials/head.ejs') %>
<%- include('./partials/navigation.ejs') %>
<h1 class = 'pageTitle'>Crear nueva propuesta</h1>

<div class = 'container'>

    <form method = 'post' action = '/mycommunity/createproposal'>
        <div class = 'mb-3'>
            <select name = 'typeProposal' class = 'form-select' id = 'citizenActions'>
                <option disabled selected>Elige tipo de propuesta</option>
                <option value = 'create'>Propuesta para crear una ley nueva</option>
                <option value = 'delete'>Propuesta para eliminar una ley existente</option>
            </select>
        </div>
        
        <div id = 'createLawInput' class = 'mb-3 d-none'>
            <p>Escribe tu propuesta de ley ...</p>
            <textarea id = 'lawProposalText' class = 'form-control' name = 'proposalText' type = 'text'></textarea>
        </div>

        <div id = 'removeLawInput' class = 'mb-3 d-none'>
        </div>

        <div class = 'mb-3'>
            <button class = 'btn' id='loginButton' type = 'submit' disabled>Crear Propuesta</button>
        </div>
    
    </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>
    $('#citizenActions').on('change', function() {
        //Show options based on selection. #1 show  
        if($('#citizenActions option:selected').val() == 'create') {
            $('#createLawInput').removeClass('d-none');
            $('#removeLawInput').addClass('d-none');
            $('#loginButton').removeAttr('disabled');
        } else if($('#citizenActions option:selected').val() == 'delete') {
            $('#createLawInput').addClass('d-none');
            $('#removeLawInput').removeClass('d-none');
            $('#loginButton').removeAttr('disabled');
            $.ajax({
                url: '/mycommunity/createproposal/delete',
                type: 'GET',
                dataType: 'json',
                cache: false,
                success: function(data) {
                    if(data.laws){
                        console.log('laws passed ', data.laws);
                        $('#removeLawInput').empty();
                        for(let i = 0; i < data.laws.length; i++) {
                            let section = $('<div></div>').attr('class', 'container mb-3');
                            section.append($('<input></input>').val(data.laws[i]._id).attr('type','radio').attr('name','law'));
                            section.append($('<label></label>').attr('for', data.laws[i]._id).html(`Ley #${i+1}:`));
                            section.append($('<p></p>').text(`${data.laws[i].law}`));
                            $('#removeLawInput').append(section);
                        }
                    }
                }, 
                error: (error) => {alert(error);}
            });
        }
    });
</script>

<%- include('./partials/footer.ejs') %>