<%- include('./partials/head.ejs') %>
<%- include('./partials/navigation.ejs') %>

    <h1 class="pageTitle"> Home Page </h1>
    <p> <%= (locals.firstName != undefined) ? 'First Name: ' + firstName : '' ;%> </p> 

<%- include('./partials/footer.ejs') %>