<%- include('./partials/head.ejs') %>
<%- include('./partials/navigation.ejs') %>

<h1 class="pageTitle">Unete a una comunidad</h1>

<div class="div-back">
    <div class = 'div-center'>
        <div class = 'content'>
            <form method = "post" action = '/mycommunity/join'>
                <div class = 'mb-3'>
                     <select name="communities" class="form-select" id = 'communities'>
                        <option disabled selected>Selecciona una comunidad existente</option>
                        <% for(let i = 0; i < locals.communities.length; i++) { %>
                        <%- `<option value = '${locals.communities[i].id}'>${locals.communities[i].name}</option>`%>
                        <% } %>
                    </select>
                </div>
                <div class = 'mb-3'>
                    <select  names = 'homes' class="form-select" id='homes' disabled>
                        <option disabled selected>Selecciona una casa interna</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>
    $('#communities').on('change', function() {
        //$('#homes').removeAttr('disabled');
        //$( "h1.pageTitle" ).html($('#communities').val());
        $.ajax({
            url: '/mycommunity/join/homes',
            data: {
                id: $('#communities').val()
            },
            type: "GET",
            dataType : "json",
            cache: false,
            success: function(data) {
                if(data.homes){
                    $('h1.pageTitle').html(data.homes[0].innerNumber);
                }
            },
            error: function(){
                $('h1.pageTitle').html('error');
            }
        })
    });
</script>

<%- include('./partials/footer.ejs') %>