<%- include('./partials/head.ejs') %>
<%- include('./partials/navigation.ejs') %>

<h1 class="pageTitle">Unete a una comunidad</h1>

<div class="div-back">
    <div class = 'div-center'>
        <div class = 'content'>
            <form method = "post" action = '/mycommunity/join'>
                <div class = 'mb-3'>
                     <select name="community" class="form-select" id = 'communities'>
                        <option disabled selected>Selecciona una comunidad existente</option>
                        <% for(let i = 0; i < locals.communities.length; i++) { %>
                        <%- `<option value = '${locals.communities[i].id}' data-address = '${locals.communities[i].communityAddress}'>${locals.communities[i].name}</option>`%>
                        <% } %>
                    </select>
                </div>
                <div class = 'mb-3'>
                    <select  name = 'home' class="form-select" id='homes' disabled>
                        <option disabled selected>Selecciona una casa interna</option>
                    </select>
                </div>
                <div class = 'mb-3'>
                    <p id = 'selection'></p>
                    <p id = 'address'></p>
                </div>
                <div class = 'mb-3'>
                    <button class = 'btn' id='loginButton' type = 'submit' disabled>Unirse</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    //AJAX obtains list of homes associated with community selection
    $('#communities').on('change', function() {
        $('#homes').removeAttr('disabled');
        $('#homes').empty();
        $('#selection').empty();
        $('#address').empty();
        $('#homes').append('<option disabled selected>Selecciona una casa interna</option>');
        $.ajax({
            url: '/mycommunity/join/homes',
            data: {
                id: $('#communities').val()
            },
            type: "GET",
            dataType : "json",
            cache: false,
            success: function(data) {
                if(data.homes){
                    for (let i = 0; i < data.homes.length; i++) {
                        $('#homes').append($('<option></option>').val(data.homes[i]._id).html(data.homes[i].innerNumber));
                    }
                }
            },
            error: function(){
                $('h1.pageTitle').html('error');
            }
        })
    });
    //Displays message of your selection
    $('#homes').on('change', function() {
        let community = $('#communities option:selected').text();
        let communityAddress = $('#communities option:selected').data('address')
        let home = $("#homes option:selected").text();
        let message = `Has seleccionado ${community} #${home}`; 
        $('#selection').html(message);
        let location = `Localizada en: ${communityAddress}`;
        $('#address').html(location);
        $('#loginButton').removeAttr('disabled');
    })
</script>

<%- include('./partials/footer.ejs') %>