<%- include('./partials/head.ejs') %>
<%- include('./partials/navigation.ejs') %>

<h1 class="pageTitle">Unete a una comunidad</h1>

<div class="div-back">
    <div class = 'div-center'>
        <div class = 'content'>
            <form method = "post" action = '/mycommunity/join'>
                <div class = 'mb-3'>
                     <select name="communities" class="form-select" id = 'communities'>
                        <option disabled selected>Selecciona una comunidad existente</option>
                        <% for(let i = 0; i < locals.communities.length; i++) { %>
                        <%- `<option value = '${locals.communities[i].id}'>${locals.communities[i].name}</option>`%>
                        <% } %>
                    </select>
                </div>
                <div class = 'mb-3'>
                    <select  names = 'homes' class="form-select" id='homes' disabled>
                        <option disabled selected>Selecciona una casa interna</option>
                    </select>
                </div>
                <div class = 'mb-3'>
                    <p id = 'selection'></p>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>
    $('#communities').on('change', function() {
        $('#homes').removeAttr('disabled');
        $.ajax({
            url: '/mycommunity/join/homes',
            data: {
                id: $('#communities').val()
            },
            type: "GET",
            dataType : "json",
            cache: false,
            success: function(data) {
                if(data.homes){
                    for (let i = 0; i < data.homes.length; i++) {
                        $('#homes').append($('<option></option>').val(data.homes[i].id).html(data.homes[i].innerNumber));
                    }
                }
            },
            error: function(){
                $('h1.pageTitle').html('error');
            }
        })
    });

    $('#homes').on('change', function() {
        let community = $('#communities option:selected').text();
        let home = $("#homes option:selected").text();
        let message = `Has seleccionado ${community} #${home}`; 
        $('#selection').html(message);
    })
</script>

<%- include('./partials/footer.ejs') %>