<%- include('./partials/head.ejs') %>
<%- include('./partials/navigation.ejs') %>

    <h1 class = 'pageTitle'> Mi Comunidad </h1>
    <div>
        <%-(locals.community == undefined) ? include('./partials/noCommunity.ejs'):''%>
    </div>

<%- include('./partials/footer.ejs') %>