<%- include('./partials/head.ejs') %>
<%- include('./partials/navigation.ejs') %>

    <h1> Signup Page </h1>

    <form action = '/signup' method = 'post'>
        <%#Questions regarding the citizen %>
        <section>
            <label for = 'firstName'>firstName</label>
            <input id = 'firstName' type = 'text' required>
        </section>
        <section>
            <label for = 'lastName'>lastName</label>
            <input id = 'lastName' name = 'lastName' type = 'text' required>
        </section>
        <section>
            <label for = 'secondLastName'>secondLastName</label>
            <input id = 'secondLastName' name = 'secondLastName' type = 'text'>
        </section>
        <section>
            <label for = 'email'>email</label>
            <input id = 'email' name = 'email' type = 'email' required>
        </section>
        <section>
            <label for = 'password'>password</label>
            <input id = 'password' name = 'password' type = 'password' required>
        </section>
        <section>
            <label for = 'password'>password</label>
            <input id = 'confirm_password' name = 'confirm_password' type = 'password' required>
        </section>
        <section>
            <label for = 'cellphone'>cellphone</label>
            <input id = 'cellphone' name = 'cellphone' type = 'text'>
        </section>
        <%# Questions regarding which community they belong to %>
        <button type = 'submit'>Sign up</button>
    </form>
    <hr>
    <p>Already have an account? <a href='/login'>sign in</a></p>

<%- include('./partials/footer.ejs') %>