<%- include('./partials/head.ejs') %>
<%- include('./partials/navigation.ejs') %>

<div>
    <%-(locals.community == undefined) ? include('./partials/noCommunity.ejs'):''%>
</div>

<%- include('./partials/footer.ejs') %>