<div class = 'container-fluid noCommunities'>
    <div class = 'container-fluid noCommunities'>
        '<h2>No estas registrado en ninguna comunidad.</h2>
    </div>
    <div class = 'container noCommunities'>
        <h3><a href='/mycommunity/create'>Registra una comunidad nueva</a></h3>
    </div>
    <div class = 'container noCommunities'>
        <h3><a href = '/mycommunity/join'>Unete a una comunidad existente</a></h3>
    </div>
</div>
